@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/rc-tooltip/assets/bootstrap.css";

a {
    text-decoration: none;
}

.min-w-0 {
    min-width: 0;
}

.flex-basis-0 {
    min-width: 0 !important;
    min-height: 0 !important;
    flex-basis: 0 !important;
}

.text-editor {
    font-size: 1rem;
    font-family: monospace;
}

.bg-hovered {
    background-color: rgb(83, 0, 192);
}

.bg-selected {
    background-color: rgb(154, 11, 250);
}

.max-responsive-size-35 {
    max-height: 35%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.hovered {
    @extend .bg-hovered;
    border-radius: 0.3rem;
    margin: -0.3rem;
    padding: 0.3rem;
    cursor: pointer;
}

.selected {
    @extend .bg-selected;
    border-radius: 0.3rem;
    margin: -0.3rem;
    padding: 0.3rem;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.flex-basis-0 {
    flex-basis: 0;
    min-width: 0;
    min-height: 0;
}

.responsive-flex-direction {
    flex-direction: column;
}
@media only screen and (min-aspect-ratio: 1/1) {
    .responsive-flex-direction {
        flex-direction: row;
    }
    .max-responsive-size-35 {
        max-height: unset;
        max-width: 35%;
    }
}

div.table-scroll {
    margin: 4px, 4px;
    padding: 4px;
    background-color: #202024;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

.box {
    height: 30px;
    background: white;
    text-align: center;
    color: black;
    position: relative;
    display: table;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.box span {
    display: table-cell;
    vertical-align: middle;
}

.box:before,
.box:after {
    content: "";
    position: absolute;
}

.box:after {
    border-left: 20px solid white;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    right: -40px;
    top: -5px;
    width: 0;
    height: 0;
    display: block;
}

.box:before {
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    left: 0px;
    top: -1px;
    width: 0;
    height: 0;
    display: block;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading-spinner {
    z-index: 10001;
    width: 300px;
    height: 300px;
    border: 12px solid #476a97; /* Light grey */
    border-top: 12px solid #b5c8e0; /* Blue */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.spinner-container {
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: 10001;
}
